<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    
<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  <!--https://github.com/tajay59/nodejs-ex/blob/master/views/js/angular.js--> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<style>
  .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 0px;
  width: 150px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
body  {
  background-image: url("https://raw.githubusercontent.com/tajay59/nodejs-ex/master/views/pulse.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
</style>
<body class="w3-black" style="background-image:url('')repeat fixed;overflow:scroll;"     ng-controller="myCtrl1">  <!--  ng-app ="myApp1" -->


  <script>

    </script>






<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
 
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main"    >
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small"></span> Remote Patient Monitoring</h1>
    <p>University Hospital of the West Indies</p>
    <!--<img src="pulse.jpg" alt="boy" class="w3-image" width="1680" height="1050"> -->
      <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Patient Details</b></h5>
  </header>


  <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <img src="https://raw.githubusercontent.com/tajay59/nodejs-ex/master/views/jane.png" alt="Jane" class="w3-left w3-circle w3-margin-right" style="width:60px">
    
    
    <h4 style = "text-align: left;">Jane Doe</h4>
    <div class="patient-info" style = "text-align: left;margin-left:80px;margin-top:43px;">
      <div class="line"><span>Gender     </span><span>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    :&nbsp;Female</span></div>
      <div class="line"><span>Age        </span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    :&nbsp;64</span></div>
      <div class="line"><span>Occupation </span><span>&nbsp;     :&nbsp;Middle-school teacher</span></div>
    </div>
    <hr class="w3-clear">
      
    <div class="col-xs-16" id="aamaleText" style = "text-align: left;">
      <p style="margin-top: 25px;"><span style="margin-right: 70px;"><strong>A1C:</strong> 8.1%</span><strong>TG:</strong> 206 mg/dL<br>
      <span style="margin-right: 43px;"><strong>HDL:</strong> 37 mg/dL</span><strong>BMI:</strong> 30<br>
      <strong>LDL:</strong> 108 mg/dL<br>
      <strong>Blood pressure:</strong> 136/70 mm Hg</p>
      <p><strong>CV medication:</strong> lisinopril 20 mg,<br>
      simvastatin 40 mg</p>
      <p><strong>Anti-hyperglycemic medication:</strong> metformin 1000 mg BID</p>
      <p><strong>Additional comorbidities:</strong> Prior myocardial infarction, retinopathy</p>
      <p><strong>Other Considerations:</strong> Even after her heart attack, Carla struggles to maintain her weight. She is always sampling world-class dishes and working long hours which can make exercise difficult. Carla used to be a regular smoker, but quit once she realized it was even more problematic when added to her T2D diagnosis.</p>
      </div><!--aamaleText-->
      </div><!--row-->
    
    
    
  

  <div class="w3-main" ></div>

  <div class="w3-row-padding w3-margin-bottom"  > <!-- ng-controller ="myCtrl" -->
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="far fa-envelope w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>No Alerts</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Messages</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fas fa-temperature-low w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3 ng-bind="name">99</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Temperature</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fas fa-hand-holding-heart w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3 ng-bind="heart">23</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Heart Rate</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fas fa-procedures w3-xxxlarge" ></i></div>
        <div class="w3-right">
          <h3 ng-bind="orientation">50</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Orientation</h4>
      </div>
    </div>
  </div>

<div id="container"  style=" height: 500px;" class="w3-container  w3-card w3-white w3-round w3-margin"><button class="button" style="vertical-align:left;" onclick="myFunction()"><span>Show  </span></button><button class="button" style="vertical-align:right" onclick="myFunction1()"><span>Hide </span></button><p id="demo"></p>

  <div  id="container" style=" height: 400px;overflow-y:auto;" class=" w3-white w3-round w3-margin" > 
  <div  ng-cloak ng-controller="myCtrl1" class="w3-card-2 w3-margin"  >
    <header class="w3-container w3-light-grey w3-padding-16">
      <h3>Data Log History</h3>
    </header>
    <ul class="w3-ul">
      <li ng-repeat="x in products1  track by $index" class="w3-padding-16">{{x}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span></li>
    </ul>
    <div class="w3-container w3-light-grey w3-padding-16">
     
      
    </div>
  </div>


</div>

</div>


<div id="container1" class=" w3-container w3-card w3-white w3-round w3-margin" > </div> 


  </header>
  
</div>


</div>

<!-- Right Here -->


  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Project Description</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>In this project students are required to design, implement and test the back-end for a remote patient monitoring system. This remote system should be able to measure and display on a local and remote device certain conditions medical variables of a hypothetical bed ridden shut-in patient, including for example body temperature and heart rate.</p>
    <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
    
    
    
    
    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">11+</span><br>
        Partners
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">55+</span><br>
        Projects Done
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">89+</span><br>
        Happy Clients
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">150+</span><br>
        Meetings
      </div>
    </div>

   
    
    <!-- Grid for pricing tables -->
    <h3 class="w3-padding-16 w3-text-light-grey">Patient's History</h3>
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half w3-margin-bottom">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Present Year</li>
          <li class="w3-padding-16">Asthma</li>
          <li class="w3-padding-16">Rheumatoid Arthritis</li>
          <li class="w3-padding-16">Lupus</li>
          <li class="w3-padding-16">Celiac Disease</li>
          <li class="w3-padding-16">
           
          </li>
          
        </ul>
      </div>

      <div class="w3-half">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Last 10 years</li>
          <li class="w3-padding-16">Liver Disease</li>
          <li class="w3-padding-16">Scleroderma</li>
          <li class="w3-padding-16">Acute pancreatitis</li>
          <li class="w3-padding-16">Alcohol misuse</li>
          <li class="w3-padding-16">
            
          </li>
         
        </ul>
      </div>
    <!-- End Grid/Pricing tables -->
    </div>
    
    <!-- Testimonials -->
    <h3 class="w3-padding-24 w3-text-light-grey">My Reputation</h3>  
    <p><span class="w3-large w3-margin-right">Chris Fox.</span> CEO at Mighty Schools.</p>
    <p>Jane Doe saved us from a web disaster.</p><br>
    
    
    <p><span class="w3-large w3-margin-right">Rebecca Flex.</span> CEO at Company.</p>
    <p>No one is better than Jane Doe.</p>
  <!-- End About Section -->
  </div>
  
  <!-- Portfolio Section -->
 

    <!-- Grid for photos -->
   


    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Chicago, US</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
    </div><br>
    <p>Lets get in touch. Send me a message:</p>

    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>


<!-- src = "https://raw.githubusercontent.com/tajay59/nodejs-ex/master/views/JS.js"    -->
<script   > 

var all = "";
var value = 0;
var value1 = "1";
var value2 = "2";
var app = angular.module("myApp1",[]).controller("myCtrl1",function($scope,$http,$interval){
   

    $interval(function(){
      $http.get("/tajay/all")
      .then(function(response) {
        //console.log(response.data);
        $scope.name = response.data.temperature;//parseInt(response.data.temperature);
        value = parseInt(response.data.temperature, 10);
        $scope.heart = response.data.bpm;
        value2 = response.data.bpm;
        if(response.data.orientation == "BK"){ $scope.orientation = "On Back" ;value1= "On Back" }
        else if(response.data.orientation == "LS"){ $scope.orientation = "On Leftside" ;value1= "On Leftside"}
        else if(response.data.orientation == "RS"){ $scope.orientation = "On Rightside" ;value1 = "On Rightside"}
        else{$scope.orientation = "On Front"; value1 = "On Front"}
    
      });        },100);



      $scope.products1 = [];


    
    $interval(function(){
      var mssg = "Date/Time :"+ new Date().toISOString()+" Temperature :"+value+" Orientation :"+value1+" BPM :"+value2;
        
     
      $scope.products1.push(mssg);
        
    
            },1000);






    $scope.removeItem = function (x) {
        $scope.errortext = "";    
        $scope.products1.splice(x, 1);
    }


      $interval(function(){
      $http.get("/logs")
      .then(function(response) {
        //console.log(response.data);
        all = response.data.temperature; //parseInt(response.data.temperature);
        
    
      });        },1000);



    
  });

  angular.element(function() {
      angular.bootstrap(document, ['myApp1']);
    });



Highcharts.chart('container1', {
  chart: {
      type: 'spline',
      animation: Highcharts.svg, // don't animate in old IE
      marginRight: 10,
      events: {
          load: function () {

              // set up the updating of the chart each second
              var series = this.series[0];
              setInterval(function () {
                  var x = (new Date()).getTime(), // current time
                      y = value    //Math.random();
                      
                  series.addPoint([x, y], true, true);
              }, 1000);
          }
      }
  },

  time: {
      useUTC: false
  },

  title: {
      text: 'TEMPERATURE READINGS'
  },
  xAxis: {
      type: 'datetime',
      tickPixelInterval: 150
  },
  yAxis: {
      title: {
          text: 'Temperature'
      },
      plotLines: [{
          value: 0,
          width: 1,
          color: '#808080'
      }]
  },
  tooltip: {
      headerFormat: '<b>{series.name}</b><br/>',
      pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
  },
  legend: {
      enabled: false
  },
  exporting: {
      enabled: false
  },
  series: [{
      name: 'data @',
      data: (function () {
          // generate an array of random data
          var data = [],
              time = (new Date()).getTime(),
              i;

          for (i = -190; i <= 0; i += 1) {
              data.push({
                  x: time + i * 1000,
                  y: Math.random()
              });
          }
          return data;
      }())
  }]
}); 




  </script>
</body>
</html>
